<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursal</title>
</head>
<body>
    <form action="{% url 'createsucursal' %}" method="POST">
        {% csrf_token %}        
        <input type="text" name="name_sucursal" placeholder="nombre sucursal">
        <input type="text" name="street" placeholder="direccion">
        <input type="text" name="city" placeholder="ciudad">
        <select name="activo">
            <option value="True">sí</option>
            <option value="False">No</option>
        </select>        
        <input type="text" name="country" placeholder="pais">
        <button>save</button>
    </form>
</body>
</html>